.home {
  display: flex;
  flex-direction: column;
  .widgets,
  .charts {
    display: flex;

    padding: 20px;
    gap: 20px;
  }
  .charts {
    padding: 0 20px;
    flex: 6;
  }
  .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 994px) {
  .home {
    .widgets {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
